<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<body>
    <div class="container">
        <div class="form-box">
            <h1 class="form-title">Sign In</h1>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" (click)="validateForm()">
                <div class="input-group">
                    <div class="input-field">
                        <i class='bx bx-envelope' ></i>
                        <input type="text" placeholder="Email"  name="email" id="email" ngModel #email="ngModel"/>
                        <div class="error" id="emailErr"></div>
                    </div>
                
                    <div class="input-field">
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password" placeholder="Password"  name="password" id="password" ngModel #password="ngModel"/>
                        <div class="error" id="pwErr"></div>
                    </div>
                    <p>Forgot password <a routerLink="/update">Click Here!</a></p>
                </div>
                <div class="btn-field">
                    <button type="button"  (click)="handleSignUp()">Sign Up</button>
                    <button type="button" (click)="onSubmit(form)" id="signinBtn" >Sign In</button>
                </div>
            </form>
            
        </div>
    </div>
</body>